body,html{
    height:100%;
    font-family:"Open Sans";
    background: #eaeae6;
}

header {
    background: none repeat scroll 0 0 white;
}

header nav{
    background:#3c3c3d;
    color:white;
    padding:7px;
}

header a, header a:hover, header a:focus, header a:visited{
    color:white;
    text-decoration: none;
}

header > .container{
    margin-top:30px;
    margin-bottom:0px;
    padding:20px 0;
}

.contenido{
    background:white;
    border-color: #dadada;
    border-radius: 0.9%;
    border-style: solid;
    border-width: 1px;    
    padding: 10px 23px;
}

.dropdown-menu > li{
    text-align:left;
}